/* RESET */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* COMMON */
body {
  font-family: 'Fredoka', sans-serif;
  width: 70%;
  margin: auto;
}

/* HEADER */
.title{
  text-align: center;
}

h1{
  color:#e53170;
  margin-top: 30px;
  margin-bottom: 40px;
}

p{
  font-size: 20px;
}

/* MAIN */
main{ 
  margin-top: 40px;
  color: white;
  font-size: 13px;
}

img{
  height: 100px;
}

/* SECTION LAYOUT */

.section-margin{
  margin-top: 40px;
}
.col img{
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  
}

.col{
  float: left;
  width: calc( 100% / 3 );
  padding-right: 30px;

}

.card {
  text-align: left;
  background-color: #0f0e17;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.70);
}

h3{
  font-weight: 400;
  padding: 5px 0;
  font-size: 17px;
}

.text-padding{

  padding-top: 8px;
  padding-left: 110px;
}

/* A decoration */
a:link {
  text-decoration: none;
  color: #4ca4c6;
  font-size: 15px;
}

a:visited {
  text-decoration: none;
  color: #4ca4c6;
}

a:hover {
  text-decoration: underline;
  color: #4ca4c6;
}

a:active {
  text-decoration: underline;
  color: #4ca4c6;
}




