/* RESET */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* COMMON */
body {
  font-family: 'Fredoka', sans-serif;
  width: 80%;
  margin: auto;
}

/* HEADER */
.title{
  text-align: center;
}

h1{
  color:#e53170;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* MAIN */
main{ 
  margin-top: 40px;
  color: white;
}

img{
  height: 100px;
}

/* SECTION LAYOUT */
.col img{
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  
}

.col{
  float: left;
  width: calc( 100% / 3 );
  background-color: #0f0e17;
}

h3{
  font-weight: 400;
}

.text-padding{

  padding-top: 10px;
  padding-left: 110px;
}

/* A decoration */
a:link {
  text-decoration: none;
  color: #4ca4c6;
}

a:visited {
  text-decoration: none;
  color: #4ca4c6;
}

a:hover {
  text-decoration: underline;
  color: #4ca4c6;
}

a:active {
  text-decoration: underline;
  color: #4ca4c6;
}




